<!DOCTYPE html>
<html>
<head>
  <title>MyRecipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navagation' %>
<div class="container">
	<%= render 'layouts/messages' %>
<%= yield %>


<blockquote><b><i>""If you are a chef, no matter how good a chef you are, it's not good cooking for yourself; the joy is in cooking for others - it's the same with music.
I know dads cook too, but many of my complaints pertaining to the food I ate growing up had to do with my mom. She was literally the laziest cook ever. Everything was out of a can or bag and when it wasn't, it was thrown in the oven for hours when minutes would have done the job.

Obviously, your parents approach to cooking and food can greatly influence your eating habits, your likes and dislikes of certain foods, and maybe even your approach to cooking- for better or worse.

My mom's approach to food and cooking caused me to have very strong opinions on the subject. Like for example, where she would buy a bunch of junk food and canned crap claiming it was "cheaper," I refuse to do that. No matter how tight my budget, I will always find a way to use fresh ingredients, shop at the farmer's market, etc. etc. I also think that if you cook the way she does- or the way Sandra Lee does- you shouldn't cook at all. Seriously, get out of the kitchen and stop rambling about how you like to cook because you don't. I'd go as far as saying you hate food and greatly dislike cooking.

I'm curious about other Serious Eaters. Was your mom a good cook? How did she influence your cooking? Is your cooking style similar or drastically different than your parents? ""</b></i></blockquote>

</center> 
</div>
<%= render 'layouts/footer' %>
</body>
</html>
